{{> header }}
<table class="articles_list" cellspacing="0" cellpadding="5" border="1">
    {{#each rows}}
<tr>
<td>{{id}}</td>
<td><a href="/view/{{id}}">{{title}}</a></td>
<td><a href="/edit/{{id}}">edit</a></td>
    <td><a href="/delete/{{id}}" onclick="return confirm('are you sure?')">delete</a></td>
    </tr>
    {{/each}}
</table>